.navbar {
    top: 0px;
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 15px;
    background-color: rgb(102, 102, 102, 0.7);
    z-index: 1000;
}

.navbar img {
    margin-left: 25px;
}

.navbar h1 {
    margin: auto;
    margin-left: 25px;
    color: rgb(37, 33, 34);
}

@media only screen and (max-width: 460px) {
    .navbar {
        justify-content: space-evenly;
    }
    .navbar h1 {
        display: none;
    }
}